@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #003366, #4682b4, #87cefa);
  overflow: hidden;
  color: white; /* Ensure text is readable on a black background */
}

label {
  color: white; /* Update label color to white to contrast with black background */
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

button {
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 250ms ease-in-out;
  font-family: "Poppins", sans-serif;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.callButtons {
  font-weight: 500;
  border-radius: 9999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hide-arrows::-webkit-inner-spin-button,
.hide-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide-arrows {
  -moz-appearance: textfield;
}
